.carrossel__subtitulo {
    text-transform: uppercase;
    color: var(--cor-fonte-secundaria);
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--cor-fundo-secundaria);
    padding: 1rem 0 0.5rem 0;
}

.swiper {
    z-index: 0;
}

.swiper-pagination {
    position: initial;
    padding: 0.75rem 0 1rem 0;
}

.swiper-slide img{
    width: 100%;
    box-shadow: 5px 0 8px var(--cor-sombra);
}

.card {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 1.5rem;
    padding: 1rem;
    background-color: var(--cor-fundo-secundaria);
    border-radius: 0.625rem;
    box-shadow: 0 4px 4px 0 var(--cor-sombra);
}

.card__descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descricao__subtitulo {
    color: var(--cor-fonte-secundaria);
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
}

.descricao__titulo {
    font-size: 1.125rem;
    color: var(--cor-fonte-terciaria);
    font-weight: 700;
    line-height: normal;
    padding: 0.5rem 0;
}

.descricao__texto {
    font-size: 0.875rem;
    line-height: normal;
}

.card__logo {
    text-align: center;
}

.descricao__icones {
    display: flex;
    align-items: center;
}

.descricao__icones img{
    padding: 0.5rem;
}

.card__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.logo__link {
    background-color: var(--cor-fonte-secundaria);
    color: var(--cor-fundo-secundaria);
    text-decoration: none;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1rem;
}

.descricao__estrelas {
    width: 50%;
    padding: 0.5rem 0;
}