.carrossel__subtitulo {
    text-transform: uppercase;
    color: var(--cor-fonte-secundaria);
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--cor-fundo-secundaria);
    padding: 1rem 0 0.5rem 0;
}

.swiper {
    z-index: 0;
}

.swiper-pagination {
    position: initial;
    padding: 0.75rem 0 1rem 0;
}

.swiper-slide img{
    width: 100%;
    box-shadow: 5px 0 8px var(--cor-sombra);
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.card {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 1.5rem;
    padding: 1rem;
    background-color: var(--cor-fundo-secundaria);
    border-radius: 0.625rem;
    box-shadow: 0 4px 4px 0 var(--cor-sombra);
}

.card__descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descricao__subtitulo {
    color: var(--cor-fonte-secundaria);
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
}

.descricao__titulo {
    font-size: 1.125rem;
    color: var(--cor-fonte-terciaria);
    font-weight: 700;
    line-height: normal;
    padding: 0.5rem 0;
}

.descricao__texto {
    font-size: 0.875rem;
    line-height: normal;
}

.card__logo {
    text-align: center;
}

.descricao__icones {
    display: flex;
    align-items: center;
}

.descricao__icones img{
    padding: 0.5rem;
}

.card__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 0.5rem;
}

.logo__link {
    background-color: var(--cor-fonte-secundaria);
    color: var(--cor-fundo-secundaria);
    text-decoration: none;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1rem;
}

.descricao__estrelas {
    width: 90px;
    padding: 0.5rem 0;
}

@media screen and (min-width: 1024px) {
    .carrossel__subtitulo {
        font-size: 1.625rem;
        padding: 3.125rem 0 1rem 0;
    }

    .swiper {
        width: 55%;
    }

    .swiper-pagination {
        padding: 1.25rem 0 3.5rem 0;
    }

    .swiper-button-prev, .swiper-button-next {
        display: flex;
        align-items: center;
        font-weight: 700;
        top: 55%;
        --swiper-navigation-size: 10px;
        --swiper-navigation-top-offset: 50%;
        --swiper-navigation-sides-offset: 10px;
        --swiper-navigation-color: #FFFFFF;
        background: var(--cor-fonte-primaria);
        padding: 1rem;
        border-radius: 50%;
        box-shadow: 0 4px 4px 0 var(--cor-sombra);
    }

    .card {
        width: 50%;
        margin: 3rem auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        justify-content: center;
        gap: 5rem;
        padding: 5rem;
    }

    .swiper, .card {
        width: 35%;
        margin: 0;
    }

    .swiper-pagination {
        padding: 1rem 0;
    }

    .card__descricao {
        justify-content: space-around;
        width: 60%;
    }

    .descricao__subtitulo {
        font-size: 2rem;
    }

    .card__logo {
        gap: 1rem;
        width: 30%;
    }

    .logo__link:hover {
        background-color: #b17600;
    }
}