.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-fundo-secundaria);
    box-shadow: 0 8px 8px var(--cor-sombra);
}

.cabecalho__container {
    display: flex;
    align-items: center;
    position: relative;
}

.cabecalho__icone {
    padding: 1rem;
}

.cabecalho__menu-hamburguer {
    background-image: url(../images/Menu.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .container__lista{ /* quando o container__botao estiver checked, os proximos irmaos do container__botao que tem a classe container__lista receberão display block - ver mais sobre combinadores CSS*/
    display: block;
}

.container__lista {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--cor-fundo-secundaria);
    width: 65vw;
    box-shadow: 0 8px 8px var(--cor-sombra);
    z-index: 1;
}

.lista__titulo {
    color: var(--cor-fonte-secundaria);
    font-weight: 700;
}

.lista__item {
    padding: 1rem;
}

.lista__item a {
    text-transform: uppercase;
    text-decoration: none;
    background: var(--cor-fonte-primaria);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecalho__titulo, .cabecalho__lista {
    display: none;
}

.icone__coracao {
    display: block;
}

@media screen and (min-width: 1024px) {
    .icone__coracao, .cabecalho__label {
        display: none;
    }

    .cabecalho__lista, .cabecalho__titulo {
        display: block;
    }

    .cabecalho__titulo {
        font-size: 1.875rem;
        font-weight: 400;
        font-family: var(--fonte-josefin);
    }

    .titulo__negrito {
        font-weight: 700;
    }

    .cabecalho__lista {
        display: flex;
        gap: 3rem;
        position: relative;
        align-items: center;
    }

    .cabecalho__lista__item {
        cursor: pointer;
    }

    .cabecalho__lista__item a {
        color: var(--preto);
        text-decoration: none;
    }

    .lista__botao:checked ~ .container__lista {
        display: block;
    }

    .lista__botao {
        display: none;
    }

    .container__lista {
        width: auto;
    }
}