.topicos {
    background: var(--cor-fonte-primaria);
}

.topicos__subtitulo {
    text-align: center;
    color: var(--cor-fundo-secundaria);
    font-weight: 300;
    padding: 1.5rem 0 2rem 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.topicos__lista__item {
    background-color: var(--cor-fonte-secundaria);
    padding: 1rem 1.5rem;
    
}

.topicos__lista__item a {
    color: var(--cor-fundo-secundaria);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos__subtitulo {
        font-size: 1.5rem;
        padding: 2rem 0 2.5rem 0;
    }

    .topicos__lista {
        width: 80%;
        margin: auto;
        gap: 1.5rem;
    }

    .topicos__lista__item {
        padding: 1.5rem 2rem;
    }

    .topicos__lista__item a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .topicos__subtitulo {
        font-size: 2rem;
        padding: 4rem 0 3.5rem 0;
    }

    .topicos__lista {
        width: 50%;
        padding-bottom: 4rem;
    }
}